<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkNLoad-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if request.endpoint != 'views.home' %}
        {% include '_navbar.html' %}
    {% endif %}


    <main>
        {% block content %}
        <!-- Page-specific content -->
        {% endblock %}
    </main>

    <footer class="footer">
        <!-- Navigation Links -->
        <div class="footer-links">
            <a href="#home">Home</a>
            <a href="#services">Services</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>

        <!-- Contact Details -->
        <div class="footer-contact">
            Project: ParkNLoad | Email: info@parknload.com | Phone: +91 9876543210
        </div>

        <!-- Copyright -->
        <div class="footer-copy">
            &copy; 2025 ParkNLoad. All rights reserved.
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
